.main{
  display: flex;
}




label {
  background-color: skyblue;
  font-size: 10px;
  order: 0;
  display: flex;
  align-items: center;
  margin: 200px 0 0px;
}

#selectFile {
  display: none;
}

canvas{
  /* width: 400px;
  height: 300px; */
  border: solid 1px #000;
}

/* レスポンシブデザイン----------------------- */
@media screen and (max-width:1024px) {
  .main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
  }

  label {
    margin-top: 50px;
    margin-bottom: 10rem;

    background-color: skyblue;
    font-size: 3rem;
    border-radius: 50px;
    order: 2;

  }

  #selectFile {
    display: none;
  }
  
  canvas{
    /* width: 400px;
    height: 300px; */
    border: solid 1px #000;
  }

}